{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      CourseApp |{% block page_title %}

      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block css_files %}

    {% endblock %}
  </head>
  <body>
    <!-- navbar -->

    {% include "partials/_messages.html" %}

    {% include 'partials/_nav.html' %}
    {% block content %}

    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}" integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    {% block js_files %}

    {% endblock %}
  </body>
</html>
